
@media(min-width: 321px){
    .header{
        width: 1140px;
        margin: 0px auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
    }
    .header__logo{
        margin-top: 18px;
    }
    .header__logo-block{
        display: flex;
        align-items: center;
    }
    .header__logo-title{
        font-family: "Montserrat";
        font-size: 10px;
        font-weight: 300;
        line-height: 12px;
        text-align: left;
        width: 165px;
        height: 24px;
    }
    .header ul{
        list-style: none;
        display: flex;
        justify-content: space-between;
        width: 503px;
        font-family: 'Inter';
        font-weight: 500;
        line-height: 19px;
        color:#E4E5EA;
        margin-right: 110px;
    }
    .header li{
        font-size: 16px;
    }
    .telephone{
        font-size: 16px;
        font-weight: 900;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: right;
    }
    .header__social{
        width: 120px;
    }
}
@media(max-width: 320px){
    .header{
        width: 100%;
        padding: 10px 20px;
    }
    .header ul{
        list-style: none;
        display: flex;
        justify-content: space-between;
        font-family: "Inter";
        font-size: 12px;
        font-weight: 500;
        line-height: 15px;
        letter-spacing: 0em;
        text-align: left;
        color:#E4E5EA;
    }
    
}
